*{
    background-color: #468FAF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
}

.mail {
    margin-top: 50px;
}

.Img {
    width: 150px;
    height: 150px;
    margin-bottom: 30;
}



.input{
    height: 40px;
    width:350px;
    font-size: 17px;
    
    border-color: #013A63;
    color:#013A63;
    background-color:#89C2D9;
    
    border-width: 1.5px;

    margin-bottom: 18px;
    padding: 0px 15px 0 15px;
}
.inputError{
    border-color: 'red';
    color: 'red';
}
.errorText{
    color: 'red';
    margin-top: -19.5px;
    margin-bottom: 3.5px;
}

.button{
    background-color: #012A4A;
    margin-top:50px;
    padding: 15px 20px 15px 20px ;
    border-radius: 20px;
    font-size: 30px;
    color: #FFFFFF;
}