*{
    background-color: #468FAF;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
    flex-direction: column;
}
.Img {
    width: 150px;
    height: 150px;
    margin: 100px 0 30px 0;
    
}

.input{
    height: 40px;
    width:350px;
    font-size: 17px;
    
    border-color: #013A63;
    color:#013A63;
    background-color:#89C2D9;
    
    border: 1.5px;
    border-radius: 20px;

    margin-bottom: 18px;
    padding: 0 15px 0 15px;
    transition: opacity 0.3s ease; 
}


.input:hover {
    opacity: 0.85;
}
.input:focus {
    outline: none; 
    border-color: #468FAF; 
    box-shadow: 0 0 5px #468FAF; 
  }

.mail {
    margin-top: 50px;
}
.button {
    background-color: #012A4A;
    margin-top: 2px;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    transition: all 0.5s ease;
    cursor: pointer;
}

.login:hover {
    color:#012A4A;
    background-color: rgb(233, 236, 250);
}

.extrabutton {
    background-color: rgb(233, 236, 250);
    margin-top: 2px;
    padding: 7px 10px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    color: #012A4A;
    transition: all 0.5s ease;
    cursor: pointer;
}
.extrabutton:hover {
    background-color:#012A4A;
    color: rgb(233, 236, 250);
}

.github{
    background-image: url("./assets/images/githubIcon.png");
    height: 80px;
    width: 80px;
    background-repeat: no-repeat; 
    cursor: pointer;
    border: none;
    background-position: center; 
    background-color: #012A4A;
    margin-top: 25px;
    border-radius: 50%;
    margin-left: 20px;
    transition: all 0.5s ease;
}

.github:hover{
    background-image:  url("./assets/images/githubIconSha.png");
    background-color: rgb(233, 236, 250);
}

.google{
    background-image: url("./assets/images/googleIcon.png");
    height: 80px;
    width: 80px;
    background-repeat: no-repeat; 
    cursor: pointer;
    border: none;
    background-position: center; 
    background-color: #012A4A;
    margin-top: 25px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.5s ease;
}
.google:hover{
    background-image:  url("./assets/images/googleIconSha.png");
    background-color: rgb(233, 236, 250);
}
